
<!doctype html> 

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->

<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!-->

<html lang="en"><!-- InstanceBegin template="../../Courses/COMM 323/Sp 17 final web projects/Tari UTM Skyhawk Baja Racing Website/Templates/masc.dwt.php" codeOutsideHTMLIsLocked="false" -->

<!--<![endif]-->

<head>

<meta charset="UTF-8">

<!-- InstanceBeginEditable name="doctitle" -->

<title>The University of Tennessee at Martin - http://www.utm.edu</title>

<!-- InstanceEndEditable -->

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<script src="//code.jquery.com/jquery-1.9.1.js"></script>

<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />



<script src="//www.utm.edu/_scripts/respond.min.js"></script>

<link href="//www.utm.edu/_scripts/boilerplate.css" rel="stylesheet" type="text/css">

<link href="//www.utm.edu/_css/flexslider.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="//www.utm.edu/_css/utm2013.css">

<link rel="stylesheet" type="text/css" href="//www.utm.edu/_css/departmental_2013.css">

<script src="//www.utm.edu/_scripts/jquery.flexslider-min.js" type="text/javascript"></script>

<script type="text/javascript" src="//www.utm.edu/_scripts/jquery.fittext.js"></script>

<script src="//www.utm.edu/_scripts/jquery/departmental_header.js" type="text/javascript"></script>

<script type="text/xml">

<!--

<oa:widgets>

  <oa:widget wid="2827522" binding="#OAWidget" />

</oa:widgets>

-->

</script>



<!--[if lte IE 7]>

	<link rel="stylesheet" type="text/css" href="_css/ie7-fix.css">

<![endif]-->

<!--[if IE 8]>

	<link rel="stylesheet" type="text/css" href="_css/ie8-fix.css">

<![endif]-->

<!--[if lte IE 8]>

	<script src="//css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js">

<![endif]-->





<script type="text/javascript" src="//use.typekit.net/sub4hvn.js"></script>

<script type="text/javascript">

	try{Typekit.load();}catch(e){}

</script>

<script type="text/javascript" src="//www.utm.edu/_scripts/header_scripts.js"></script>

<!-- InstanceBeginEditable name="head" -->

<!--

    	*****************

    	*****************

    	Edit head here. Add css and scripts.

        *****************

        *****************

    -->

	<script>

		$(function() {

    $("#accord").accordion({

        collapsible: true,

        active: false,

        heightStyle: "content"

    });



});

	</script>

	

    <script>

$(function() {

$( "#welcome" ).tabs();

});

</script>

<style type="text/css">

li.ui-tabs-active a {

	font-weight: bold;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {

	outline: none;

	color: #838385 !important;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {

	margin-bottom: -1px;

	padding-bottom: 1px;

	border-bottom: 0;

	background-color: white;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {

	border-radius: 0;

}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {

	border-radius: 0;

}

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {

	color: #f89828 !important;

}

.ui-tabs .ui-tabs-nav li a {

	text-decoration: none !important;

}

.ui-tabs .ui-tabs-panel {

	padding: 1em 0;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li {

	width: 100%;

}

@media only screen and (min-width: 601px) {

li.ui-tabs-active a {

	font-weight: normal;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li {

	width: auto;

}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {

	border: 1px solid #c6c6c6;

}

.ui-tabs .ui-tabs-nav {

	border-bottom: 1px solid #e2e3e2;

}

}

@media only screen and (min-width: 801px) {

}

</style>

<!-- InstanceEndEditable -->

</head>

<body onLoad="MM_preloadImages('//www.utm.edu/_imgs/facebook_footer_hover.png',//www.utm.edu/'_imgs/twitter_footer_hover.png','//www.utm.edu/_imgs/youtube_footer_hover.png','//www.utm.edu/_imgs/google_footer_hover.png','//www.utm.edu/_imgs/apple_footer_hover.png')">

<script src="//www.utm.edu/_scripts/login.js"></script>





<script src="//www.utm.edu/_scripts/update_browser.js"></script>



<!--MOBILE DROPDOWN INCLUDE-->

<!--O'Brien script-->



<script type='text/javascript'>

/*

var ebRand = Math.random()+'';

ebRand = ebRand * 1000000;

//<![CDATA[ 

document.write('<scr'+'ipt src="HTTPS://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=741694&amp;rnd=' + ebRand + '"></scr' + 'ipt>');

//]]>

*/

</script>

<noscript>

<img width="1" height="1" style="border:0" src="HTTPS://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=741694&amp;ns=1"/>

</noscript>



<!--END O'Brien script-->



<div id="mobile_bar">

  <div class="gridContainer clearfix">

    <div id="mobile_menu">

      <p> <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

		        <span class="icon-bar"></span>

		        <span class="icon-bar"></span>

		        <span class="icon-bar"></span>

		      </a>

              </p>

      <div>

        <div class="search" id="top_search">

          <form action="//www.utm.edu/search/search.php">

        <input type="search" placeholder="Search" name="search_criteria" aria-label="Search">

      </form>

        </div>

        <div id="mobile_list">

        <div id="mobile_list_left">

          <ul>

            <li><a href="//www.utm.edu/admis.php">Admissions</a></li>

            <li><a href="//www.utm.edu/academ.php">Academics</a></li>

            <li><a href="//www.utm.edu/onlinestudies.php">Online Education</a></li>

            <li><a href="//www.utm.edu/departments/ecos/">Educational Outreach</a></li>

            <li><a href="http://www.utmsports.com/">Athletics</a></li>

            <li><a href="http://utmforever.com/s/1341/utm/twocol.aspx?sid=1341&gid=5&pgid=509">Giving</a></li>

            <li><a href="//www.utm.edu/about/">About UTM</a></li>

          </ul>

        </div>

        <div id="mobile_list_right">

          <ul>

            <li><a href="//www.utm.edu/gateways/futurestu.php">Future Students</a></li>

            <li><a href="//www.utm.edu/gateways/parents.php">Parents</a></li>

            <li><a href="//www.utm.edu/gateways/currentstu.php">Students</a></li>

            <li><a href="//www.utm.edu/gateways/faculty.php">Faculty &amp; Staff</a></li>

            <li><a href="https://securelb.imodules.com/s/1341/utm/start.aspx?sid=1341&amp;gid=5&amp;pgid=61">Alumni</a></li>

            <li><a href="//www.utm.edu/az.php">A-Z Listing</a></li>

            <li><a href="//www.utm.edu/maps.php">Maps</a></li>

            <li><a href="//www.utm.edu/gateways/visitors.php">Visitors</a></li>

            <li><a href="https://www.utm.edu/portal">myUTMartin</a></li>

          </ul>

        </div>

        </div>

      </div>

    </div>

  </div>

</div><div id="second_menu_wrapper">

    <!--SECOND MENU NAV INCLUDE-->

    

<style>

  .banner-alert {

    width: 100%;





  }



  .banner-alert-content {

    color: #0c2340;

    text-align: center;

    font-size: 1em;

    margin: 0 auto;

  }



  [v-cloak] {

    display: none;

  }



  .text-center {

    text-align: center;

    margin: 0 auto;

  }



  .max-w-1200 {

    max-width: 1200px;

  }



  .max-w-1600 {

    max-width: 1200px;

  }



  .mx-auto {

    margin: 0 auto !important;

  }



  .alert-title {

    font-size: 1.5em;

    font-family: "Zilla Slab";

    font-weight: 500;

    text-transform: uppercase;

    padding: .2em 0;

    color: white;

  }



  .alert-text {

    font-size: 1.2em;

    font-family: "Montserrat";

    font-weight: 400;

  }



  .alert-text a {

    font-size: 1em;

    font-weight: 600;

    color: black;

  }



  .alert-text-update {

    font-size: .8em;

  }



  .alert-icon-error {

    width: 20px;

    content: url(/_imgs/icons/outline-error_outline-24px.svg);

  }



  .bg-info {

    background-color: #17a2b8 !important;

  }



  .bg-warning {

    background-color: #ffc107 !important;

  }



  .bg-danger {

    background-color: #dc3545 !important;

  }



  .bg-success {

    background-color: #28a745 !important;

  }

</style>

<div class="banner-alert" v-cloak v-if="firebase && firebase.alert.show">

  <div class="banner-alert-content">

    <section class="before-loaded"

      v-bind:class="[{'d-block': loaded}, firebase.alert.type ,'alert-body', 'container-fluid', 'px-3']">

      <div class="row-fluid">

        <div class="alert-title col-12 p-0 text-center">



          <div v-if="mobileWidth"> <img v-bind:class="[firebase.alert.icon]" /> ALERT <br>

            {{ firebase.alert.title | capitalize}} </div>

          <div v-else> <img v-bind:class="[firebase.alert.icon]" /> ALERT | {{ firebase.alert.title | capitalize}}

          </div>







        </div>



        <div class="alert-text col-12 col-md-8 col-lg-10 max-w-1600 p-0 mx-auto">

          <div v-if="firebase.alert.more_info" class="utm-text-white text-center">

            <div class="alert-text-blurb">

              {{firebase.alert.info}}

            </div>



            <a class="underline" :href="firebase.alert.more_info">

              View latest update

            </a>



          </div>



          <div class="utm-text-white text-center" v-else> {{firebase.alert.info}} </div>

        </div>

        <div class="alert-text-updated">{{ firebase.alert.updated | utcTime }}</div>







      </div>



    </section>

  </div>

</div>

<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800,900&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;600;700&display=swap" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">



<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>

<script>

  Vue.filter('utcTime', function (value) {

    if (!value) return '';

    else {

      var d = new Date(value * 1000); // The 0 there is the key, which sets the date to the epoch

      return d.toLocaleString('en-US', {

        hour12: true,

        timezone: "America/Chicago"

      })

    }



  });

  var vjs = new Vue({

    el: '.banner-alert',

    data: {



      loading: false,

      colors: {

        utmBlue: "#0c2340",

        utmOrange: "#ff8200",

        utmGray: "#eaeaea"

      },



      firebase: {

        event: {

          bgImage: ""

        },

        "alert": {

          "icon": "alert-icon-error",

          "info": "All locations have been closed due to weather related complications.",

          "more_info": "//www.utm.edu/info",

          "show": false,

          "title": "SCHOOLS ARE CLOSED DUE TO INCLEMENT WEATHER",

          "type": "bg-navy",

          "updated": 1537544743

        },

        "splash": {

          "bgImage": "",

          "blurb": "",

          "button": {

            "link": "",

            "text": ""

          },

          "font": "asphaltsBrush",

          "overlay": {

            "opacity": ".50",

            "type": "plain"

          },

          "position": "center",

          "timestamp": 1537544743,

          "title": ""

        }

      },



    },



    computed: {

      mobileWidth: function () {

        var w = document.documentElement.clientWidth

        //console.log(w);

        // console.log(w <= 1024);

        return w <= 1024;

      }

    },



    methods: {





      fetchFirebaseCallback: function (json) {

        // $.get(self.apiURL, function (data) {

        //     self.calendar = (data);

        //     //console.log(JSON.stringify(data, null, 2));

        // });

        var key = Object.keys(json.data);

        //console.log(JSON.stringify(json.data[key], null, 2));

        vjs.firebase = json.data[key];

        //console.log(JSON.stringify(vjs.firebase, null, 2));

        vjs.loaded = true;



      },

      filter(item, queryText, itemText) {





        const hasValue = val => val != null ? val : ''

        const query = hasValue(queryText)

        return item.c.toLowerCase().includes(queryText.toLowerCase())



      },









      fetchData: function (endpoint, callback) {





        //console.log("FETCH: endpoint -> " , endpoint);

        fetch(endpoint).then(function (data) {

          return data.json();

        }).then(function (json) {

          //console.log(endpoint + ": ", json);

          callback(json);

        });



      },



      isMenuOpen() {

        switch (this.$vuetify.breakpoint.name) {

          case 'xs':



          case 'sm':



          case 'md':

            return "undefined";

          case 'lg':



          case 'xl':

            return 0;

        }

      },







    },

    created: function () {

      var self = this;



    },

    mounted: function () {

      var self = this;

      // console.log("this is firing");

      this.fetchData("/_modules/feeds/firebase.utc.php", this.fetchFirebaseCallback);

      //this.viewUpdate = this.updates.reverse()[0];



      // fetch("/_modules/imageListFor.php?path=_apply").then(function (data) {

      //     return data.json();

      // }).then(function (json) {



      //     self.images = json;

      //     let randomImage = Math.floor(Math.random() * self.images

      //         .length); // returns a random integer from 1 to 10

      //     self.sections.splash.image = self.images[randomImage];

      //     //console.log(json);

      // });



    }

  });

</script><div class="gridContainer clearfix">

  <div class="search" id="bottom_search">

    <form action="//www.utm.edu/search/search.php">

      <input id="search" type="search" placeholder="Search" name="search_criteria" aria-label="Search">

    </form>

  </div>

  <nav id="top_menu">

    <ul>

      <li> <a href="//www.utm.edu/az.php">A-Z LISTING</a></li>

      <li> <a href="//www.utm.edu/maps.php">MAPS</a></li>

      <li><a href="//www.utm.edu/gateways/visitors.php">VISITORS</a></li>

      <li> <a href="https://www.utm.edu/portal/"><span>MY UTMARTIN</span></a>

        <!-- <div style="clear:both"></div>

          <div id="loginBox">

            

            <form id="loginForm" title="My UTMartin Login" method="post" action="https://sharepoint.utm.edu/_forms/utmlogin.aspx?ReturnUrl=/layouts/Authenticate.aspx%3fSource%3d%252F&amp;Source=/">

              <fieldset id="body">

              	  <img alt="Skyhawk Image" src="//www.utm.edu/_imgs/login-skyhawk.jpg"/>

                <fieldset>

                  <input type="text" id="email" name="UserName" placeholder="Username"  aria-label="Username" />

                </fieldset>

                <fieldset>

                  <input type="password" name="password" id="password" placeholder="Password"  aria-label="Password" />

                </fieldset>

                <input type="submit" id="login" value="Sign in" aria-label="Sign in" /> <p style="font-size:10px">By logging in you agree to the terms of the<a style="font-size:10px" href="http://policy.tennessee.edu/it_policy/it0110/" target="_blank">Acceptable Use Policy</a></p>

              </fieldset>

              <p>

                Forgot your password? <a href="https://sharepoint.utm.edu/password">Reset password here.</a><br />

                UT Martin Alumni? <a href="http://mail.ut.utm.edu">Check email here.</a> <br />

                Portal down? <a href="//www.utm.edu/portaldown.php">Get access to your stuff.</a><br />

                myUTMartin <a href="//www.utm.edu/departments/help/portal.php">FAQ</a> | <a href="https://sharepoint.utm.edu/selfservicelinks.html?uname=y" target="_blank">First-time user?</a></p>

            </form>

          </div> -->

      </li>

    </ul>

  </nav>







  <script>

    /*

			The following on submit code was added in order to quietly correct the usage of email addresses

			as userid's when tryign to login to the portal. The code below takes the submitted username and strips out 

			the characters past the "@". 20170817

		

		var form = document.getElementById("loginForm");//get the form object

		form.addEventListener("submit",function(event){//add on submit listener 

			var val = email.value;//get the form input : email value

			//console.log("current value: " + val);//display if debugging

			if(email.value.indexOf("@") != -1){//make sure there is an @ used

				//console.log("current Value: " + email.value+" indexOf@: " +email.value.indexOf("@"));//display if debugging

				email.value = email.value.substring(0,email.value.indexOf("@")); //strip out the id to send

				//console.log("After Value: " + email.value+" indexOf@: " +email.value.indexOf("@"));//display if debugging

			}

			

		});

		*/



    // var email = document.getElementById("email");//get the email object

    // email.addEventListener("change",function(){//add on change listener

    // 	var val = email.value;//get the input

    // 	//console.log("current value: " + val);//display if debugging

    // 	if(email.value.indexOf("@") != -1){//make sure there is an @ used

    // 		var userid = val.substring(0,val.indexOf("@")); //grab the user id

    // 		var domainid = val.substring(val.indexOf("@"),val.length);//grabe the domain

    // 		email.value = userid;//replace the current value with the stripped version

    // 	}

    // });

  </script>





  <div class="second_menu_drop">

    <ul class="no-js">

      <li>

        <a href="#" class="clicker"><img src="//www.utm.edu/_imgs/top_menu.png" alt="Icon"></a>

        <ul>

          <li class="second_menu_hover"><a href="//www.utm.edu/gateways/futurestu.php">Future Students</a></li>

          <li class="second_menu_hover"><a href="//www.utm.edu/gateways/parents.php">Parents</a></li>

          <li class="second_menu_hover"><a href="//www.utm.edu/gateways/currentstu.php">Students</a></li>

          <li class="second_menu_hover"><a href="//www.utm.edu/gateways/faculty.php">Faculty &amp; Staff</a></li>

          <li class="second_menu_hover"><a href="http://alumni.utm.edu">Alumni</a></li>

        </ul>

      </li>

    </ul>

  </div>

  <nav id="second_menu" role="navigation">

    <ul>

      <!--<li>Information for:</li>-->

      <li class="second_menu_hover"><a href="//www.utm.edu/gateways/futurestu.php">Future Students</a></li>

      <li class="second_menu_hover"><a href="//www.utm.edu/gateways/parents.php">Parents</a></li>

      <li class="second_menu_hover"><a href="//www.utm.edu/gateways/currentstu.php">Students</a></li>

      <li class="second_menu_hover"><a href="//www.utm.edu/gateways/faculty.php">Faculty &amp; Staff</a></li>

      <li class="second_menu_hover"><a href="http://alumni.utm.edu">Alumni</a></li>

    </ul>

  </nav>

  <img id="topmenuLogo" src="//www.utm.edu/acme/_imgs/UT-Martin-menu-logo.svg" alt=""

    style="display:none; visibility: hidden; height: 30px; padding-left: 7.6%;">

</div>

<!--

<style>

	

	#main_menu_wrapper.sticky { position:fixed; top:31px; left:0px; right:0px; z-index:99999; }

	

	#second_menu_wrapper.sticky { position:fixed; top:0px; left:0px; right:0px; z-index:99999; height: 30px;}

</style>

-->

<



<script>

   $(function () {

    /*

    	$(window).scroll(function(){

			        // make sure you change 52 to your headers height plus your padding

			if ($(window).scrollTop() > 0) {

				

				$("#second_menu_wrapper").addClass("sticky");

			} else {

				

				$("#second_menu_wrapper").removeClass("sticky");

			}

        // make sure you change 52 to your headers height plus your padding

			if ($(window).scrollTop() >= 63) {

				$("#main_menu_wrapper").addClass("sticky");

				$("topmenuLogo").hide();

			} else {

				$("#main_menu_wrapper").removeClass("sticky");

				

				{

					$("topmenuLogo").show();

					console.log("showing logo");

				}

				

			}

		});

		*/



  });

</script></div>

<div id="header_wrapper">

  <div class="gridContainer clearfix">

    <!--HEADER MENU INCLUDE-->

    
<!--TOP MENU AND LOGO-->

<div id="header">
  
  <div id="header_right">
    
  </div>
  <div id="logo"><a href="//www.utm.edu/"><img src="//www.utm.edu/_imgs/logo_2015.png" alt="The University of Tennessee at Martin logo"></a></div>
</div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5QNQ52"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  </div>

</div>

<div id="main_menu_wrapper">

    <!--MAIN MENU NAV INCLUDE-->

    <!--ADMISSIONS TOP NAV-->



<div class="gridContainer clearfix">

  <nav id="nav-wrap">

    <ul id="nav">

      <li style="text-align:right;">

        <a href="//www.utm.edu/admis.php">

          Admissions

        </a>

      </li>

      <li>

        <a href="#">

          Future Students

        </a>

      </li>

      <li style="text-align:right;">

        <a href="//www.utm.edu/academ.php">

          Academics

        </a>

      </li>

      <li>

        <a href="#">

          Current Students

        </a>

      </li>

      <li style="text-align:right;">

        <a href="//www.utm.edu/utonline/">

          Online Education

        </a>

      </li>

      <li>

        <a href="#">

          Faculty &amp; Staff

        </a>

      </li>

      <li style="text-align:right;">

        <a href="//www.utm.edu/departments/ecos/">

          Educational Outreach

        </a>

      </li>

      <li>

        <a href="https://securelb.imodules.com/s/1341/utm/start.aspx?sid=1341&gid=5&pgid=61">

          Alumni &amp; Donors

        </a>

      </li>

      <li style="text-align:right;">

        <a href="http://www.utmsports.com" target="_blank">

          Athletics

        </a>

      </li>

      <li>

        <a>

        </a>

      </li>

      <li style="text-align:right;">

        <a href="http://utmforever.com/s/1341/utm/twocol.aspx?sid=1341&gid=5&pgid=509">

          Giving

        </a>

      </li>

      <li>

        <a>

        </a>

      </li>

      <li style="text-align:right;">

        <a href="//www.utm.edu/about/">

          About UTM

        </a>

      </li>

    </ul>

  </nav>

  <nav id="main_menu" role="navigation">

    <ul>

		<li class="nav_about">

        <a href="//www.utm.edu/about/">

          ABOUT UTM

        </a>

      </li>

      <li class="nav_admissions">

        <a href="//www.utm.edu/admis.php">

          ADMISSIONS

        </a>

      </li>

      <li class="nav_academics">

        <a href="//www.utm.edu/academ.php">

          ACADEMICS

        </a>

      </li>

      <li class="nav_online">

        <a href="http://www.utm.edu/departments/slma/">

          CAMPUS LIFE

        </a>

      </li>

      

      <li class="nav_athletics">

        <a href="http://www.utmsports.com" target="_blank">

          ATHLETICS

        </a>

      </li>

		<li class="nav_extended">

        <a href="https://www.utm.edu/advantage/tour.php" target="_blank">

          PLAN A VISIT

        </a>

      </li>

      <li class="nav_giving">

        <a href="http://alumni.utm.edu">

          ALUMNI & GIVING

        </a>

      </li>

      

    </ul>

  </nav>

</div>

<!-- 

<nav id="second_menu" role="navigation">

  <ul>

   <li>Information for:</li>

    <li class="second_menu_hover"><a href="#">Future Students</a></li>

    <li class="second_menu_hover"><a href="#">Current Students</a></li>

    <li class="second_menu_hover"><a href="#">Faculty &amp; Staff</a></li>

    <li class="second_menu_hover"><a href="#">Alumni &amp; Friends</a></li>

  </ul>

</nav>

--></div>

<!-- InstanceBeginEditable name="content" --> 

<div class="gridContainer_slider clearfix">

  <!--<div class="first_pic" id="first_pic_mobile"> <img src="_imgs/admis.jpg" alt="Admissions" />

    <p>Discover UTM</p>

    <span>Who you want to be. What you<br>

    want to achieve.</span> </div>-->

</div>

<div class="gridContainer clearfix">

  <div id="content_area"> 

    <div id="left_nav_acc">

      <h1>Admissionss Requirements</h1>

      <div> 

        <!--MOBILE DROPDOWN LEFT NAV INCLUDE-->

        <div class="programs">

	<ul>

    <li><a href="index.html">MASC Overview</a></li>
	
    <li><a href="admis.html">Admissions</a></li>

    <li><a href="curriculum.html">Degree Requirements</a></li>

    <li><a href="request.html" target="_blank">Request Information</a></li>

  </ul>



</div>

<div class="links">

  <ul>

    <li class="links_title">Related Links</li>

	  <li><a href="//www.utm.edu/departments/comm/faculty.php" target="_blank">Faculty</a></li>
	  
	  <li><a href="success.php" target="_blank">Alumni Success Stories</a></li>

	  <li><a href="news.php" target="_blank">MASC News</a></li>

    <li><a href="http://www.utm.edu/departments/gradstudies/" target="_blank">Office of Graduate Studies</a></li>

    <li><a href="http://www.utm.edu/catalog.php" target="_blank">University Catalog</a></li>
	  
	  <li><a href="//www.utm.edu/departments/masc/resources.php">GRE and GMAT Resources</a></li>

  </ul>

</div>

<div id="contact">

  <p>Dr. Tracy Rutledge</p>

  <p>Graduate Program Coordinator and </p><p>Associate Professor</p>

  <p>305 Gooch Hall</p>

  <p>Martin, TN 38238

  </p>

  <span class="contact_blue">Ph:</span>

  <p class="contact_num"> (731) 881-7554</p>

  <span class="contact_blue">Em:</span>

  <p class="contact_num"> <span><a href="mailto:masc@utm.edu">masc@utm.edu</a></span></p>

  <br />
	<p>Dr. Chara Van Horn</p>

  <p>Graduate Program Coordinator and </p><p>Assistant Professor</p>

  <p>305 Gooch Hall</p>

  <p>Martin, TN 38238

  </p>

  <span class="contact_blue">Ph:</span>

  <p class="contact_num"> (731) 881-7548</p>

  <span class="contact_blue">Em:</span>

  <p class="contact_num"> <span><a href="mailto:masc@utm.edu">masc@utm.edu</a></span></p>


  <br />

</div>

      </div>

    </div>

    <!--BREADCRUMB INCLUDE-->

    <div id="breadcrumbs">
<a href="//www.utm.edu/index.php">HOME</a> / <a href="//www.utm.edu/academ.php">ACADEMICS</a> / <a href="//www.utm.edu/departments/chfa">HUMANITIES AND FINE ARTS</a> / <a href="//www.utm.edu/departments/comm/">COMMUNICATIONS</a> / <span><a href="http://www.utm.edu/departments/masc">MASTER OF ARTS IN STRATEGIC COMMUNICATION</a></span> </div>    <div id="main_content_wrapper">

      <div id="main_content">

        <h1>Admissions Requirements</h1>

       <!-- <div class="first_pic" id="first_pic_full"> <img src="_imgs/admis.jpg" alt="Admissions" />

          <p>Discover UTM</p>

          <span>Who you want to be. What you<br>

          want to achieve.</span></div> -->

        <div id="main_left">

			<p>Students applying for admission to the M.A. in Strategic Communication must meet the university-wide requirements for graduate admission and the specific requirements for the MASC. See <a href="http://www.utm.edu/_pdfs/UT%20Martin%20Catalog17-18.pdf#page=518" target="_blank">The University of Tennessee at Martin Graduate Catalog</a> for additional information.</p>
			<br/>
			<p><b>GRE/GMAT requirements are waived for all Fall 2020 applicants</b></p>

			<p>&nbsp;</p>

			<div id="welcome">

			<ul>

				<li><a href="#tabs-1">Application Process</a>

				</li>

				<li><a href="#tabs-2">Admission Requirements </a>

				</li>

				<li><a href="#tabs-3">Financial Aid </a>

				</li>

			</ul>

				

				<div id="tabs-1">

					<h3>Required Application Materials</h3>
					
					<br />
					<p>All application materials must be sent to the UT Martin Office of Graduate Studies.</p>

					<ul>

						<li><a href="http://gradcas.liaisoncas.org/apply/" target="_blank">Graduate School Online Application</a>. All official transcripts should be requested during the online application process.</li>

						<li>Official GRE/GMAT test scores—UPDATE: This requirement is waived for Fall 2020 admission.</li>

						<li><a href="https://mascwaiver.questionpro.com" target="_blank">MASC GRE/GMAT Professional Waiver Request</a> for professionals with at least five years of professional experience directly related to strategic communication. All waiver requests must be evaluated and approved by the Department of Communications Graduate Admissions Committee.</li>

						<li><a href="http://www.utm.edu/departments/gradstudies/newforms/GA%20appl%20form.pdf" target="_blank">Graduate Assistant Application</a> (if interested) </li>

						<li>Current resume</li>

						<li>Three current and relevant letters of recommendation. These must be professional rather than personal references (i.e., from employers, faculty members rather than pastor, friend).</li>

						<li>A 500-word statement of professional goals that addresses the student’s career goals and how the MASC would contribute to the achievement of those goals.				</li>
					</ul>
				</div>

				

				<div id="tabs-2">

					<h3>Admissions Requirements</h3>
					
					<h4>Requirements for Unconditional Admission</h4>

					<p>Applicants who meet the following requirements qualify for unconditional admission to the MASC.</p>

					<ul>

						<li>Hold a bachelor’s degree from a regionally accredited college or university</li>

						<li>Must have at least a 2.50 cumulative grade point average (GPA) on all work attempted prior to completion of the baccalaureate degree (4.00 scale) from a regionally accredited college or university.</li>

						<li>Meet one of the following options.

							<ul>

								<li>GRE: Verbal Reasoning: 150 (450 if taken prior to August 2011), Quantitative Reasoning: 138 (350 if taken prior to August 2011), Analytical Writing: 4.0 </li>

								<li>GMAT: Total Score 350, Analytical Writing Assessment: 4.0 </li>

							</ul></li>

						<li>Have a positive review from the Master of Arts in Strategic Communication (MASC) Graduate Admission Committee</li>

					</ul>

					

					<h4>Requirements for Conditional Admission</h4>

					<p>Applicants may be granted conditional admission to the MASC subject to the following conditions:</p>

					<ul>

						<li>Hold a bachelor’s degree from a regionally accredited college or university</li>

						<li>Must have at least a 2.50 cumulative grade point average (GPA) on all work attempted prior to completion of the baccalaureate degree (4.00 scale) from a regionally accredited college or university.</li>

					<p>AND</p>

						<li>Meet one of the following options. 

							<ul>

								<li>GRE scores: Verbal Reasoning: 146 (390 if taken prior to August 2011), Quantitative Reasoning: 138 (350 if taken prior to August 2011), Analytical Writing: 3.5 </li>

								<li>GMAT: Total Score 320, Analytical Writing Assessment: 3.5 </li>
								<li>LSAT: 148</li>

					<p>OR</p>

						<li>GRE: Verbal Reasoning: 150 (450 if taken prior to August 2011), Quantitative Reasoning: 138 (350 if taken prior to August 2011), Analytical Writing: 3.0, and successfully complete (with a letter grade of B or better, or pass for a pass/fail course) during the first semester of graduate classes a writing course to be approved by the MASC Graduate Coordinator. </li>

						<li>GMAT: Total Score 350, Analytical Writing Assessment: 3.0, and successfully complete (with a letter grade of B or better, or pass for a pass/fail course) during the first semester of graduate classes a writing course to be approved by the MASC Graduate Coordinator.</li>

					<p>OR</p>

						<li>The GRE/GMAT entrance exam requirement may be waived for applicants with a significant amount of professional experience related to strategic communication (i.e., public relations, marketing, advertising, campaign planning, fundraising, organizational management, etc.) Applicants must meet one of the following criteria, demonstrate career advancement after completing the bachelor’s degree and receive a positive overall review from the Master of Arts in Strategic Communication Graduate Admission Committee.</li>
								
								<ul>
								<li>Have at least <b>seven years of full-time professional experience in strategic communication,</b> hold a bachelor’s degree from a regionally accredited college or university, and have at least a <b>2.50 cumulative grade point average (GPA)</b> on all work attempted prior to completion of the baccalaureate degree (4.00 scale) from a regionally accredited college or university.</li>

								<li>Have at least <b>five years of full-time professional experience in strategic communication,</b>b hold a bachelor’s degree from a regionally accredited college or university, and have at least a <b>3.00 cumulative grade point average (GPA)</b> on all work attempted prior to completion of the baccalaureate degree (4.00 scale) from a regionally accredited college or university</li>

								<li>Applicants using the professional waiver option might be required to submit evidence of satisfactory academic writing ability or successfully complete (with a letter grade of B or better, or pass for a pass/fail course) during the first semester of graduate classes a writing course to be approved by the MASC Graduate Coordinator.</li> 
								</ul>

							</ul></li>

						<li>Have a positive review from the Master of Arts in Strategic Communication (MASC) Graduate Admission Committee. The committee review will include the quality of work experience, previous academic performance. Statement of goals and letters of reference. </li>

					</ul>

					

					<h4>Requirements for Early Unconditional Admission for UT Martin Undergraduate Seniors</h4>

					<p>Undergraduate seniors currently enrolled in the final semester for a baccalaureate degree at a university/college in the U.S. have the option for early admission to the MASC.</p>

					<p>&nbsp;</p>

					<p>According to the UT Martin Graduate Catalog, “a senior at UT Martin who needs less than 30 semester hours to complete the requirements for a bachelor’s degree and has at least a B (3.00) cumulative average may take sufficient work for graduate credit to make a combined total of undergraduate and graduate credit hours of not more than 15 per semester, subject to the approval of the dean of graduate studies.” Strategic communication graduate courses may be taken only if a student meets all undergraduate prerequisite course requirements and must meet the requirements for unconditional admission. Students cannot earn both undergraduate and graduate credit for the same course.</p>

					<p>&nbsp;</p>

					<p>The Graduate Studies Office must have received official qualifying exam scores, which equal or exceed the minimum requirement, current official transcript from the institution currently being attended and one official transcript from any other colleges/universities attended previously. The applicant must also meet the requirements for unconditional admission to the MASC, which may exceed the university's minimum requirements.</p>

					

				</div>

				

				<div id="tabs-3">

					<h3>Graduate Assistantships</h3>

					<p>A limited number of graduate assistantships are available on campus. Students should direct all inquiries to the Graduate Studies office. Graduate Assistant responsibilities vary according to assignment. Assistantships carry a fixed stipend and provide a waiver of all tuition charges, including out-of-state fees, for GA’s with at least 30 percent appointment. International students may not apply for an assistantship until they have completed at least one term of full-time work at UT Martin.</p>

					<p>&nbsp;</p>

					<p>Graduate assistants/teaching assistants are expected to enroll in no more than the appropriate fraction of the maximum course load.</p>

					<ul>

						<li>Assistants employed 20 hours per week—maximum of nine (9) semester hours.</li>

						<li>Assistants employed 15 hours per week—maximum of 12 semester hours.</li>

						<li>Assistants employed 12 hours per week—maximum of 15 semester hours.</li>

					</ul>

					

					<h3>Assistants employed 12 hours per week—maximum of 15 semester hours.</h3>

					<p>The University of Tennessee at Martin is strongly committed to increasing the enrollment of graduate students from underrepresented groups. Access and Diversity scholarships are available for qualified groups. Recipients are selected based upon the nomination by graduate coordinators/designee. For further information, see <a href="http://www.utm.edu/departments/gradstudies/A&D_scholarships.php" target="_blank">http://www.utm.edu/departments/gradstudies/A&D_scholarships.php</a>.</p>

					

					<h3>Fee Waivers</h3>

					<p>The university accepts fee waivers for UTM employees, UT system employees, and Tennessee state employees. For more information, see <a href="http://www.utm.edu/departments/bursar/forms.php" target="_blank">http://www.utm.edu/departments/bursar/forms.php</a>.</p>

					

					<h3>Federal Direct Loan Program</h3>

					<p>The Department of Education offers Unsubsidized Stafford loans and Graduate Plus loans to students to help pay educational expenses. To be eligible, a student must complete a FAFSA, be admitted to a graduate program, be enrolled in at least 6 hours and have good standing with the university. The aggregate amounts of guaranteed student loans shall not exceed $138,500, including undergraduate loans. Students will be notified of eligibility. For more information concerning the various types of financial aid available, students should contact the Office of Student Financial Assistance located in 205 Administration Building or visit their website at <a href="http://www.utm.edu/departments/finaid/index.php" target="_blank">http://www.utm.edu/departments/finaid/index.php</a>.</p>

				</div>

				

			</div>

			

        </div>

       

      </div>

    </div>

    <div id="left_nav"> 

      <!--LEFT NAV INCLUDE-->

      <div class="programs">

	<ul>

    <li><a href="index.html">MASC Overview</a></li>
	
    <li><a href="admis.html">Admissions</a></li>

    <li><a href="curriculum.html">Degree Requirements</a></li>

    <li><a href="request.html" target="_blank">Request Information</a></li>

  </ul>



</div>

<div class="links">

  <ul>

    <li class="links_title">Related Links</li>

	  <li><a href="//www.utm.edu/departments/comm/faculty.php" target="_blank">Faculty</a></li>
	  
	  <li><a href="success.php" target="_blank">Alumni Success Stories</a></li>

	  <li><a href="news.php" target="_blank">MASC News</a></li>

    <li><a href="http://www.utm.edu/departments/gradstudies/" target="_blank">Office of Graduate Studies</a></li>

    <li><a href="http://www.utm.edu/catalog.php" target="_blank">University Catalog</a></li>
	  
	  <li><a href="//www.utm.edu/departments/masc/resources.php">GRE and GMAT Resources</a></li>

  </ul>

</div>

<div id="contact">

  <p>Dr. Tracy Rutledge</p>

  <p>Graduate Program Coordinator and </p><p>Associate Professor</p>

  <p>305 Gooch Hall</p>

  <p>Martin, TN 38238

  </p>

  <span class="contact_blue">Ph:</span>

  <p class="contact_num"> (731) 881-7554</p>

  <span class="contact_blue">Em:</span>

  <p class="contact_num"> <span><a href="mailto:masc@utm.edu">masc@utm.edu</a></span></p>

  <br />
	<p>Dr. Chara Van Horn</p>

  <p>Graduate Program Coordinator and </p><p>Assistant Professor</p>

  <p>305 Gooch Hall</p>

  <p>Martin, TN 38238

  </p>

  <span class="contact_blue">Ph:</span>

  <p class="contact_num"> (731) 881-7548</p>

  <span class="contact_blue">Em:</span>

  <p class="contact_num"> <span><a href="mailto:masc@utm.edu">masc@utm.edu</a></span></p>


  <br />

</div>

    </div>

  </div>

</div>

<!-- InstanceEndEditable --> 

<!--FOOTER INCLUDE-->

<!-- Keep Footer at the bottom -->
<script type="text/javascript">
<!--

$(document).ready(function() {
 
 var docHeight = $(window).height();
 var footerHeight = 244;
 var footerTop = $('#footer').position().top + footerHeight;
 /*
 if (footerTop < docHeight) {
  $('#footer').css('margin-top', (docHeight - footerTop) + 'px');
 }
 */
	
});

// -->
</script>

<div id="footer">
  <div class="gridContainer clearfix">
    <div id="footer_wrapper">
      <div id="footer_1">
        <ul>
          <li><a href="//www.utm.edu/az.php">A-Z Listing</a></li>
          <li><a target="_blank" href="//www.utm.edu/maps.php">Maps</a></li>
          <!--<li><a target="_blank" href="http://xmail.utm.edu">Webmail</a></li>-->
          <li><a  target="_blank" style="white-space: nowrap;float: right;padding-bottom: 5px;" href="//www.utm.edu/tellme">Tell Us Your Story</a></li>
          <li><a target="_blank" href="https://www.utm.edu/portal">myUTMartin</a></li>
                    <li><a target="_blank" href="http://www.tennessee.edu/">UT System</a></li> 
                    <li><a href="http://www.utm.edu/alerts/">Emergency Info</a></li> 

        </ul>
      </div>
      <div id="footer_2">
        <ul>
          <li><a href="//www.utm.edu/request.php">Request Info</a></li>
          <li><a onclick="window.open('https://www.utm.edu/websiterequest.php', 'newwindow', 'menubar=1,resizable=1, scrollbars=1, width=1024, height=768'); return false;">Web Requests</a></li>
          <li><a href="//www.utm.edu/suggestionbox">Suggestion Box</a></li>
          <li><a href="//www.utm.edu/departments/personnel/employment.php">Employment</a></li>
          <li><a target="_blank" href="/about/privacy.php">Privacy Statement</a></li>

          <li><a target="_blank" href="http://www.tntransferpathway.org/">Tenn. Transfer Pathways</a></li> 
        </ul>
      </div>
      <div id="footer_5"> <span>© 2020<br>
        UT Martin<br>
        554 University Street<br>
        Martin, TN 38238 <br>
        800.829.UTM1 <br>
        731.881.7000<br>
        </span> </div>
      <div id="footer_4">
        <ul>
          <li><a href="//www.utm.edu/departments/jackson">Jackson Center</a></li>
          <li><a href="//www.utm.edu/departments/parsons">Parsons Center</a></li>
          <li><a href="//www.utm.edu/departments/ripley">Ripley Center</a></li>
          <li><a href="//www.utm.edu/departments/selmer">Selmer Center</a></li>
          <li><a href="//www.utm.edu/departments/somerville">Somerville Center</a></li>
        </ul>
      </div>
      <div id="footer_3"> <a href="//www.utm.edu/"><img src="//www.utm.edu//_imgs/logo_footer_2015.png"  alt="The University of Tennessee at Martin logo"></a> </div>
    </div>
  </div>
</div><!--SOCIAL FOOTER INCLUDE-->

<div id="social_footer" class="fluid">
	<style>
		#social_footer_wrapper a{
			text-decoration: none;
		}
		#office365Icon:hover path,
		#twitterIcon:hover path,
		#youtubeIcon:hover path,
		
		#tumblrIcon:hover path{
			fill: #FF8200;
		}
		#googleIcon:hover path{
			stroke: #FF8200;
		}
		/*
		#facebookIcon:hover path{
			
		}
		*/
		#facebookIcon:hover #background{
			fill-opacity: 1.0;
			fill: #FF8200;
		}

	</style>
	<div class="gridContainer">
		<div id="social_footer_wrapper" class="fluid">
			<a href="https://www.facebook.com/utmartin" target="_blank"> 
			<svg version="1.1" id="facebookIcon" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 x="0px" y="0px" viewBox="0 0 512 512" width="25px" height="25px" xml:space="preserve">

				<title id="facebookIconTitle">Facebook Icon</title>
				<desc id="facebookIconDesc">This is the icon for Facebook Social media website.</desc>

			<path id="background" fill="#ffffff"  d="M76.8,0h358.4C477.6,0,512,34.4,512,76.8v358.4c0,42.4-34.4,76.8-76.8,76.8H76.8C34.4,512,0,477.6,0,435.2
				V76.8C0,34.4,34.4,0,76.8,0z"/>
			<path id="facebook" fill="#3B5998" d="M287,456V157c0-21,6-35,35-35h38V59c-7-1-29-3-55-3c-54,0-91,33-91,94v306 M357,202H152v72h196"/>
			</svg>

				
			</a>
			

			<a href="https://twitter.com/utmartin" target="_blank"> 
			<svg role="img" id="twitterIcon" aria-label="Twitter" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"  width="25px" height="25px" aria-labelledby="twitterIconTitle twitterIconDesc">
				<title id="twitterIconTitle">twitter Icon</title>
				<desc id="twitterIconDesc">This is the icon link to UTM's twitter page.</desc>
				<rect fill="#002244" height="512" rx="15%"/>
				<path d="m456 133c-14 7-31 11-47 13 17-10 30-27 37-46-15 10-34 16-52 20-61-62-157-7-141 75-68-3-129-35-169-85-22 37-11 86 26 109-13 0-26-4-37-9 0 39 28 72 65 80-12 3-25 4-37 2 10 33 41 57 77 57-42 30-77 38-122 34 170 111 378-32 359-208 16-11 30-25 41-42z" fill="#fff"/>
			</svg>
			
			</a>
			<a href="//portal.office365.com/" target="_blank">
			<svg id="office365Icon" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="25px" aria-labelledby="msOfficeIconTitle msOfficeIconDesc">
				<title id="msOfficeIconTitle">Microsoft Office 365 Icon</title>
				<desc id="msOfficeIconDesc">This is the icon for UTM's Microsoft Office 365 User portal.</desc>
			  <path id="office365" fill="#F1F1F1" d="M7 12l22-8 12 3v34l-12 3-22-8 22 3V10l-14 3v20l-8 3V12z"/>
			</svg>
	
			</a>

			<a href="https://www.youtube.com/user/utmartin" target="_blank"> 
			<svg id="youtubeIcon" role="img" aria-label="YouTube" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" aria-labelledby="youtubeIconTitle youtubeIconDesc">
				<title id="youtubeIconTitle">Youtube Icon</title>
				<desc id="youtubeIconDesc">This is the icon for UTM's youtube video and media channel.</desc>
				<rect fill="#002244" height="512" rx="15%" />
				<path d="m139 56 31 72v81h25v-81l28-72h-26l-16 54-15-54zm112 41c-17 0-29 12-29 27v61c0 15 13 27 29 27s29-12 29-27v-61c0-15-12-27-29-27zm46 2v93c0 21 21 24 27 16l6-8v9h26v-110h-21v86c0 11-16 11-17 0v-86zm-46 14c6 0 10 4 10 10v63c0 6-4 10-10 10s-10-4-10-10v-63c0-6 5-10 10-10zm-110 122c-29 0-52 23-52 52v115c0 29 23 52 52 52h229c29 0 52-23 52-52v-115c0-29-23-52-52-52zm-28 40h74v18h-28v124h-23v-124h-23zm143 0h23v41c21-17 37-5 37 16v56c0 26-15 42-39 19l-2 10h-19zm107 30c12 0 24 6 25 19 2 14 1 29 1 43h-40v25c0 6 4 10 10 10h3c5 0 9-4 9-10v-12h18c8 47-59 55-59 0v-33c0-9 1-17 3-23 4-12 16-19 30-19zm-181 7h23v83c0 11 14 4 14-1v-82h23v105h-18v-13c-5 10-25 19-36 11-5-4-6-11-6-17zm107 9c-5 0-10 3-10 9v62c1 11 19 11 20 0v-62c0-6-5-9-10-9zm71 5c-5 0-11 3-11 10v13h22l1-13c0-6-6-10-12-10z" fill="#fff"/>
			</svg>

	
			</a>
		

			<a href="http://www.utm.edu/googleapps/" target="_blank"> 
			<svg id="googleIcon" role="img" aria-label="Google" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" aria-labelledby="googleAppsIconTitle googleAppsIconDesc" >
				<title id="googleAppsIconTitle">google apps  Icon</title>
				<desc id="googleAppsIconDesc">This is the icon for UTM's Google Apps user portal.</desc>
				<rect fill="#002244"  rx="15%" />
				<path id="google" d="m276 252h149a170 170 0 1 1 -80-140" fill="none" stroke="#ffffff" stroke-width="60"/>
			</svg>
			
			</a>
		

			
			<a href="http://utmartinphotography.tumblr.com/" target="_blank"> 
			<svg id="tumblrIcon" role="img" aria-label="Tumblr" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="25" aria-labelledby="tumblerIconTitle tumblerIconDesc">
				<title id="tumblerIconTitle">tumbler Icon</title>
				<desc id="tumblerIconDesc">This is the icon for UTM's tumbler Social media website.</desc>
				<rect fill="#002244" height="512" rx="220" />
				<path id="tumblr" d="M373 431c-14 15-45 25-73 25h-3c-95 0-115-69-115-110V234h-37a8 8 0 0 1-8-8v-53a13 13 0 0 1 9-13c48-17 63-59 66-91 0-9 5-13 12-13h56a8 8 0 0 1 7 8v90h65a8 8 0 0 1 8 8v63a8 8 0 0 1-8 8h-65v104c0 26 17 34 28 34 10-1 20-4 25-6l10-2c3 1 5 3 6 7l17 50c2 4 3 8 0 11z" fill="#fff"/>
			</svg>
			
			</a>
		</div>
	</div>
</div>
<!--GOOGLE ANALYTICS INCLUDE-->

<script src="//www.utm.edu/_scripts/analytics.js"></script>

<script src="//www.utm.edu/_scripts/fittext_secondary.js"></script>

</body>

<!-- InstanceEnd --></html>
